.facebookIcon {
width: 50%;
}

.formContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #004c80;
  color: seashell;
  border-radius: 8px;
  min-width: 320px;
  max-height: 550px;
}

.containers {
  /* background-color: #e3dfde; */

  min-height: 100%;
  min-width: 100%;
  height: 180vh;
  max-width: 100% !important;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 !important;
}

.together-waves {
  background-image: url('../../assets/images/BarraDeColor.png');
  background-position: center bottom;
  background-color: #e3dfde;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0;
}

.body {
  padding: none;
}

.danger input {
  border: 1px solid red;
}

.danger textarea {
  border: 1px solid red;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  margin: 0 auto;
  color: seashell;
}

.inputContainer label {
  display: flex;
  align-self: flex-start;
  font-family: 'Kanit', sans-serif;
  font-size: 15px;
}

.inputContainer input {
  width: 255px;
  height: 20px;
}

.inputContainerInquery {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  margin: 0 auto;
  color: seashell;
}

.inputContainerInquery label {
  display: flex;
  align-self: flex-start;
  font-family: 'Kanit', sans-serif;
  font-size: 15px;
}

.inputContainerInquery textarea {
  width: 255px;
  height: 60px;
  font-family: 'Kanit', sans-serif;
  font-size: 12px;
  outline: 0;
  resize: none;
}

.error {
  -webkit-text-stroke: 0.5px red;
  color: rgb(250, 32, 32);
  font-size: 12px;
}

.logoSmall {
  height: 30px;
  margin-top: 5px;
}

.logo {
  margin: auto;
  height: 38px;
  margin-top: 10px;
}

.paginaConstruccion {
  margin-top: 40px;
  margin-bottom: 15px;
}

.formContainer div {
  font-family: 'Kanit', sans-serif;
  font-size: 14.3px;
}

.button {
  background-color: #00c0c3;
  border: none;
  color: white;
  margin-top: 10px;
  min-width: 70px;
  border-radius: 2px;
  cursor: pointer;
  font-family: 'Kanit', sans-serif;
  max-height: 20px;
  margin-bottom: 3px;
  text-align: center;
  line-height: 15px;
  margin-bottom: 8px;
}

.buttonDanger {
  background-color: #00c0c363;
  border: none;
  color: rgba(255, 255, 255, 0.247);
  margin-top: 10px;
  min-width: 80px;
  border-radius: 2px;
  cursor: auto;
  font-family: 'Kanit', sans-serif;
  max-height: 20px;
  margin-bottom: 8px;
  text-align: center;
  line-height: 15px;
}

.btns {
  display: flex;
  justify-content: center;
  max-width: 15%;
  align-items: center;
  margin-top: 360px;
}

.btns img {
  display: flex;
  align-items: center;
  /* min-height: 50px; */
  min-width: 288px;
  margin-top: 9%;
  margin-left: 20px;
  margin-right: 20px;
}

.divLogoFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  /* position: relative;
  display:block; */
}

.iconLeft {
  display: flex;
}

.iconRight {
  display: flex;
}

.iconMedium {
  display: flex
}

.btnMedium img {
  margin-top: 10px;
  min-width: 2%;
}

.logoFooter {
  margin-top: -50px;
  height: 50px;
}

.divSocialIcons{
  display: flex;
  justify-content: center;
}

.socialIcon {
  margin-bottom: 10%;
  width: 5%;
}

.titleFooter {
  text-align: start;
}

.textFooter {
  text-align: start;
}

@media (max-width: 1920px){
  .btns img {
    margin-top: 90px;
  }

}

@media (max-width: 1400px){
  .together-waves {
    min-height: 1300px;
    
  }
}

@media (max-width: 800px) {
  .together-waves {
    background-image: url('../../assets/images/wavesResponsive.png');
    min-height: 2px;
    
  }
  .btns img {
    margin-top: 300px;
  }
}

@media (max-width: 720px){
  .together-waves {
    background-image: url('../../assets/images/wavesResponsive.png');
    min-height: 2750px;
  }
  .divLogoFooter img {
    margin-bottom: -150px;
  }
}

@media (max-width: 620px) {

  .together-waves {
    background-image: url('../../assets/images/wavesResponsive.png');
    min-height: 2100px;
  }

  .logoFooter {
    margin-top: -400px;
  }

  .btns img {
    margin-top: -5px;
    min-width: 250px;
  }

  .btnMedium img {
    width: 270px;
  }
}

@media (max-width: 600px) {
  .together-waves {
    background-image: url('../../assets/images/wavesResponsive.png');
    min-height: 2330px;
  }
  .btns img {
    min-width: 230px;
  }

  .btnMedium img {
    width: 250px;
  }
  
  .divLogoFooter img {
    margin-bottom: -1050px;
  }
}

@media (max-width: 420px) {
  .together-waves {
    background-image: url('../../assets/images/wavesResponsive.png');
    min-height: 1630px;
  }
  .btns img {
    min-width: 165px;
  }

  .btnMedium img {
    width: 200px;
  }
}


@media (max-width: 360px) {

  .container {
    height: 1000px;
    max-width: 100%;
  }

  .together-waves {
    background-image: url('../../assets/images/wavesResponsive.png');
    min-height: 1580px;
  }

  .btns {
    margin-top: 50%;
  }

  .btns img {
    min-width: 160px;
  }

  .logoFooter {
    margin-top: -290px;
    height: 50px;
  }

  .btnMedium img{
    width: 180px;
  }

  .iconLeft {
    margin-top: 0px;
    margin-right: 180px;
    margin-bottom: 0px;
    width: 120px;
  }

  .iconRight {
    margin-top: 40px;
    margin-left: 180px;
    margin-bottom: 0px;
    width: 120px;
  }

}


@media (max-width: 320px) {
  .together-waves {
    display: flex;
    background-image: url('../../assets/images/wavesResponsive.png');
    flex-direction: column;
    height: 100%;
    
  }
  .divLogoFooter {
    margin-top: 100px;
  }
  .btns{
    margin-top: 300px;
  }
  .btns img {
    min-width: 140px;
  } 


}
