.containerPadre {
  /* background-color: rgba(0, 0, 0, 0.884) ; */
  background: linear-gradient(0deg, #e3dfde 90%, #24242c 10%);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 1400px;

}

.together-waves {
  background-image: url('../../assets/images/BarraDeColor.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 1600px;
  padding-bottom: 150px;

}


.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #004c80;
  position: absolute;
  margin-top: 600px;
  color: seashell;
  border-radius: 8px;
  min-width: 320px;
  max-height: 550px;
  max-width: 350px;
  /* margin: auto; */


}


.danger input {
  border: 1px solid red;
}

.danger textarea {
  border: 1px solid red;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  margin: 0 auto;
  color: seashell;
}

.inputContainer label {
  display: flex;
  align-self: flex-start;
  font-family: 'Kanit', sans-serif;
  font-size: 15px;
}

.inputContainer input {
  width: 255px;
  height: 20px;
}

.inputContainerInquery {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  margin: 0 auto;
  color: seashell;
}

.inputContainerInquery label {
  display: flex;
  align-self: flex-start;
  font-family: 'Kanit', sans-serif;
  font-size: 15px;
}

.inputContainerInquery textarea {
  width: 255px;
  height: 60px;
  font-family: 'Kanit', sans-serif;
  font-size: 12px;
  outline: 0;
  resize: none;
}

.error {
  -webkit-text-stroke: 0.5px red;
  color: rgb(250, 32, 32);
  font-size: 12px;
}

.logoSmall {
  height: 30px;
  margin-top: 5px;
}

.paginaConstruccion {
  margin-top: 40px;
  margin-bottom: 15px;
}

.formContainer div {
  font-family: 'Kanit', sans-serif;
  font-size: 14.3px;
}

.button {
  background-color: #00c0c3;
  border: none;
  color: white;
  margin-top: 10px;
  min-width: 70px;
  border-radius: 2px;
  cursor: pointer;
  font-family: 'Kanit', sans-serif;
  max-height: 20px;
  margin-bottom: 3px;
  text-align: center;
  line-height: 15px;
  margin-bottom: 8px;
}

.buttonDanger {
  background-color: #00c0c363;
  border: none;
  color: rgba(255, 255, 255, 0.247);
  margin-top: 10px;
  min-width: 80px;
  border-radius: 2px;
  cursor: auto;
  font-family: 'Kanit', sans-serif;
  max-height: 20px;
  margin-bottom: 8px;
  text-align: center;
  line-height: 15px;
}

.btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  margin-top: 670px;
}

.minibtns {
  display: flex;
  justify-content: space-around;

}


.iconLeft {
  display: flex;
  overflow: hidden;
  max-width: 45%;

}

.iconLeft:hover {
  animation: 0.3s 3 pulse;

}


.iconRight {
  display: flex;
  animation-duration: 2s;
  overflow: hidden;
  max-width: 45%;
}

.iconRight:hover {
  animation: 0.3s 3 pulse;

}

.btnMedium {

  min-width: 2%;
  overflow: hidden;
  animation-duration: 2s;
}

.btnMedium:hover {
  animation: 0.3s 3 pulse;

}

.divSocialIcons {
  display: flex;

}

.icono:hover {
  animation: 0.3s 3 pulse;
}

.facebookIcon {
  width: 40%;
  cursor: pointer;
}

.footerDiv div{
  color: white;
}

.titleFooter {
  text-align: start;
  font-weight: 900;
  margin-bottom: 5px;
  color: white;
  text-decoration: none;
}

.contentFooter {
  text-align: start; 
  text-decoration: none;
}

.contentFooter :hover {
  color: orange;
}


.footerDivGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.footerTexts {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.footerTexts > div {
  margin: 0 55px;
}

.footerDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.footerDiv>p {
  margin: 0;
}




/* @media (max-width: 1200px) {
  .together-waves {
    min-height: 1300px;

  }
  
.containerPadre{
  height: 1500px;
  }
} */

/* @media (max-width: 992px) {

  .together-waves { 
    background-size: contain;
  }

  .minibtns {
    margin: 10% auto;
  }


  .footerTexts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
  }
  .footerDivGroup {
    display: flex;
    justify-content: center;
  }

} */


/* @media (max-width: 768px) {

  .together-waves{
    background-image: url('../../assets/images/wavesResponsive.png');
    background-image: none;
    background-position: bottom;
    min-height: 2750px;
    
  }

  .formContainer{
    margin: 0;
  }

  .btns{
    margin:100px;
  }

  .btnMedium img {
    width: 200px;
  }
} */


/* @media (max-width: 576px) {

  .together-waves{
    background-image: url('../../assets/images/wavesResponsive.png');
    background-position: bottom;
    min-height: 2000px;
    
  }
  .formContainer{
    margin: 0;
  }
  .footerDivGroup{
    margin: auto;
  }
  .footerTexts {
    display: flex;
    flex-direction: column;
  } */


  @media (max-width: 1100px){
    .btns{
      margin-top: 900px;
    }
  }


  @media (max-width: 850px){
    .together-waves {
      display:flex;
      min-height: 2400px;
      width: 100%;
      background-image: url('../../assets/images/wavesResponsive.png');
    }
    .formContainer{
      position: relative;
      margin: 0;
    }
    .footerDivGroup {
      margin-top: 10px;
    }
    .btns {
      margin-top: 60px;
    }
  }

  @media (max-width: 700px){
    .formContainer {
      position: relative;
    }
    .footerTexts {
      display: grid;
      grid-template-columns: 2fr 2fr;
    }
    .titleFooter {
      margin-top: 20px;
    }

    .together-waves {
      display:flex;
      min-height: 2400px;
      width: 100%;
      background-image: url('../../assets/images/wavesResponsive.png');
    }
    
    .containerPadre {
      display: flex;
      height: 100%;
    }

    .btns {
      width: 100%;
      margin-bottom: -50px;
      background-repeat: no-repeat;
      background-size: contain;
      padding-top: 80px;
      margin-top: -16px;
      padding-bottom: 10px;

    }

    .footerDivGroup{
      width: 100%;
      margin-top: 50px;
    }
  }

@media(max-width: 600px){
  .together-waves{
    min-height: 2100px;
  }
}

@media(max-width: 500px){
  .together-waves{
    min-height: 1850px;
  }
}

@media (max-width: 450px){
  .footerDivGroup{
    margin-top: 50px;
  }
} 

@media (max-width: 360px){
  .btns {
    margin-top: 120px;
  }

  .footerDivGroup{
    margin-top: 70px;
  }
}