

.formContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #004c80;
  color: seashell;
  border-radius: 8px;
  min-width: 320px;
  max-height: 550 px;
}

.container {
  /* background-color: #e3dfde; */

  min-height: 100%;
  min-width: 100%;
  height: 150vh;
  max-width: 100% !important;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.together-waves {
  background-image: url('../../assets/images/BarraDeColor.png');
  background-position: center bottom;
  background-color: #e3dfde;
  background-repeat: no-repeat;
  background-size: contain;
}

.danger input {
  border: 1px solid red;
}

.danger textarea {
  border: 1px solid red;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  margin: 0 auto;
  color: seashell;
}

.inputContainer label {
  display: flex;
  align-self: flex-start;
  font-family: 'Kanit', sans-serif;
  font-size: 15px;
}

.inputContainer input {
  width: 255px;
  height: 20px;
}

.inputContainerInquery {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  margin: 0 auto;
  color: seashell;
}

.inputContainerInquery label {
  display: flex;
  align-self: flex-start;
  font-family: 'Kanit', sans-serif;
  font-size: 15px;
}

.inputContainerInquery textarea {
  width: 255px;
  height: 60px;
  font-family: 'Kanit', sans-serif;
  font-size: 12px;
  outline: 0;
  resize: none;
}

.error {
  -webkit-text-stroke: 0.5px red;
  color: rgb(250, 32, 32);
  font-size: 12px;
}

.logoSmall {
  height: 30px;
  margin-top: 5px;
}

.logo {
  margin: auto;
  height: 38px;
  margin-top: 10px;
}

.paginaConstruccion {
  margin-top: 10px;
  margin-bottom: 15px;
}

.formContainer div {
  font-family: 'Kanit', sans-serif;
  font-size: 14.3px;
}

.button {
  background-color: #00c0c3;
  border: none;
  color: white;
  margin-top: 10px;
  min-width: 70px;
  border-radius: 2px;
  cursor: pointer;
  font-family: 'Kanit', sans-serif;
  max-height: 20px;
  margin-bottom: 3px;
  text-align: center;
  line-height: 15px;
  margin-bottom: 8px;
}

.buttonDanger {
  background-color: #00c0c363;
  border: none;
  color: rgba(255, 255, 255, 0.247);
  margin-top: 10px;
  min-width: 80px;
  border-radius: 2px;
  cursor: auto;
  font-family: 'Kanit', sans-serif;
  max-height: 20px;
  margin-bottom: 8px;
  text-align: center;
  line-height: 15px;
}

.btns {
  display: flex;
  justify-content: center;
  max-width: 15%;
  align-items: center;
  margin-top: 5%;
}

.btns img {
  display: flex;
  align-items: center;
  min-width: 100%;
  min-height: 70%;
  margin-top: 9%;
  margin-left: 20px;
  margin-right: 20px;
}

.divLogoFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.iconLeft {
  display: flex;
}

.iconRight {
  display: flex;
}

.iconMedium {
  display: flex
}

.btnMedium img {
  margin-top: 10px;
  min-height: 2%;
  min-width: 2%;
}

.logoFooter {
  margin-top: -50px;
  height: 50px;
}

.divLogoFooter {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}


@media (max-width: 620px) {

  .together-waves {
    background-position: 0% 400%;
    background-image: url('../../assets/images/wavesResponsive.png');
  }

  .logoFooter {
    margin-top: -400px;
  }

  .btns img {
    margin-top: -5px;
    min-height: 45px;
    min-width: 150px;
  }

  .btnMedium img {
    height: 50px;
    min-width: 140px;
  }
}

@media (max-width: 720px){
  .together-waves {
    background-image: url('../../assets/images/wavesResponsive.png');
    min-height: 1560px;
  }
  .btns {
    margin-top: 50%;
  }
}

@media (max-height: 600px) {
  .together-waves {
    background-image: url('../../assets/images/wavesResponsive.png');
    min-height: 1550px;
  }
}


@media (max-width: 360px) {

  .container {
    height: 1000px;
    max-width: 100%;
  }

  .together-waves {
    background-image: url('../../assets/images/wavesResponsive.png');
    min-height: 1550px;
  }

  .btns {
    margin-top: 35%;
  }

  .btns img {
    min-height: 30px;
    min-width: 120px;
  }

  .logoFooter {
    margin-top: -290px;
    height: 50px;
  }

  .iconLeft {
    margin-top: 0px;
    margin-right: 180px;
    margin-bottom: 0px;
    height: 5%;
    width: 40%
  }

  .iconRight {
    margin-top: 40px;
    margin-left: 180px;
    margin-bottom: 0px;
    height: 5%;
    width: 40%;
  }

}


@media (max-width: 320px) {
  .together-waves {
    display: flex;
    background-image: url('../../assets/images/wavesResponsive.png');
    flex-direction: column;
    height: 100px;
  }

}
