.carouselComponent {
    display: flex;
    justify-content: space-around;
    width:100%;
    size: cover;
}

@media (max-width: 700px){
    .carouselComponent {
        width: 100%;
    }
}

@media (max-width: 600px){
    .carouselComponent {
        width: 100%;
    }
    .carousel, .carousel-item .active{
        width: 100% !important;
        object-fit: cover;
    }
}

@media (max-width: 360px){
    .carouselComponent {
        display: flex;
        justify-content: center;
        overflow: hidden;
        width: 100%;    
    }
}

@media (max-width: 320px) {
    .carouselComponent {
        display: flex;
        justify-content: center;
        overflow: hidden;
        width: 100%;
    }
}

