.carousel {
    display: flex;
    justify-content: center;
    width:100%;
}

@media (max-width: 360px) {
    .carousel {
        display: flex;
        justify-content: center;
        width: 100%;
        overflow: hidden;
    }
}

@media (max-width: 700px){
    .carousel {
        width: 100%;
    }
}

@media (max-height: 600px){
    .carousel {
        width: 100%;
    }
}

