.danger input {
    border: 1px solid red;
  }
  .inputContainer {
    display: flex;
    flex-direction: column;
    max-width: 15rem;
    margin: 0 auto;
    /* color: seashell; */
    font-size: 15px;
  }
  .error {
    color: rgb(252, 90, 90);
  }