/* .logo{
    height: 120px;
    margin-top: 1rem;
}
.homeContainer{
    background-color: #e3dfde;
    min-height: 100vh;
    height: 100vh;

}
.paginaConstruccion{
    margin-top: 10px;
}
.formInHome{
    display: flex;
    justify-content: center;
} */