.navBar-container{
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: -40px;
    padding-left: 30px;
    margin-right: -40px;
    padding-right: 50px;
    background-color: rgb(240, 231, 231);
    height: 50px;
    width: 100%;
    min-width: 101.6%;
    box-shadow: black;
    
}

.menu-icon{
    position: absolute;
    margin-left: 20%;
    height: 20px;
    color: #004c80;
}

.logo-container{
    display: flex;
    justify-content: center;
    margin: auto;
    height: 25px;
}


@media (max-width: 600px){
    .menu-icon{
        margin-left: -1%;
    }
}

@media (max-width: 360px){
    .navBar-container{
        width: 100%;
        max-width: 100%;
    }

    .logo-container{
        display: flex;
        justify-content: center;
    }
}