.navBar-container{
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* background-color: #e3dfde; */
    background-color: #dbd7d5;
    height: 50px;
    width: 100%;
    min-width: 100%;
    box-shadow: black;
    position: fixed;
    z-index: 100;
}

.menu-icon{
    position: absolute;
    margin-left: 20%;
    height: 20px;
    color: #004c80;
    cursor: pointer;
}

.logo-container{
    display: flex;
    justify-content: center;
    margin: auto;
    height: 35px;
    overflow: hidden;
    animation: 4s 1 backInDown;
    cursor: pointer;
}

/* .logo-container:hover {
    animation: 1.5s infinite swing;
} */


@media (max-width: 600px){
    .menu-icon{
        margin-left: 3%;
    }
    
}

@media (max-width: 360px){
    .navBar-container{
        width: 100%;
        max-width: 100%;
    }

    .logo-container{
        display: flex;
        justify-content: center;
    }
}